<div class="container">
   <div class="row justify-content-center">

      <form class="col-8" action="/login" method="POST">
         <div class="mb-3">
            <label for="username-input" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-input" aria-describedby="username" name="username">
         </div>

         <div class="mb-3">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" name="password">
         </div>

         <button type="submit" class="btn btn-primary">Submit</button>

         {{#if errorMessage}}
         {{errorMessage}}
         {{/if}}

      </form>

   </div>
</div>