<div class="container">

    <div class="row justify-content-center">
        <div class='col-8 container-fluid'>
            <div class="row g-1 ">
                <h2>Admin</h2>

                <form action="/admin/users" method="GET">
                    <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Manage
                        Users</button>
                </form>

                <form action="/pets" method="GET">
                    <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Manage
                        Pets</button>
                </form>

                {{!-- <form action="/events" method="GET">
                    <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Manage
                        Events</button>
                </form> --}}

                <form action="/" method="GET">
                    <button type="submit" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Popinar a
                        todos</button>
                </form>

                <a href="/" class="btn btn-custom full-width col-12 col-sm-6 col-md-4">Home</a>



            </div>
        </div>
    </div>

</div>