<div class="col-8 container-fluid">
    <div class="row g-2 justify-content-between">

        <h1>{{title}}</h1>
        {{#if isLogged}}
        <h2>Welcome <span class="username">{{currentUser.username}}!</span></h2>
        <a class="btn btn-custom col-12 col-sm-5" href="/profile">Profile</a>
        <a class="btn btn-custom col-12 col-sm-5" href="/logout">Log out</a>
        {{else}}
        <a class="btn btn-custom col-12 col-sm-5" href="/login">Log in</a>
        <a class="btn btn-custom col-12 col-sm-5" href="/signup">Sign up</a>
        {{/if}}

        {{#if errorMessage}}
        <div class="error col-12">{{errorMessage}}</div>
        {{/if}}

    </div>
</div>