<div class="container">
    <div class="row">

        <h1>{{title}}</h1>
        {{#if isLogged}}
        <p>Welcome {{currentUser.username}}!</p>
        <a class="btn btn-custom col-6" href="/logout">Log out</a>
        {{else}}
        <a class="btn btn-custom col-6" href="/login">Log in</a>
        <a class="btn btn-custom col-6" href="/signup">Sign up</a>
        {{/if}}

    </div>
</div>