<form class="col-6 container-fluid" action="/pets/{{pet._id}}/contact" method="POST">
    <div class="row g-0 gy-2">

        <div class="mb-3 col-12">
            <label for="destinatary-input" class="form-label">To:</label>
            <input type="text" class="form-control" id="destinatary-input" aria-describedby="name-input" name="name"
                value="{{pet.name}}" disabled>
        </div>

        <div class="mb-3 col-12">
            <label for="body-input" class="form-label">Message</label>
            <textarea name="body" id="body-input" cols="30" rows="10" class="form-control"></textarea>
        </div>


        <button type="submit" class="btn btn-custom col-12">Send</button>

        <div class="col-12">
            <a href="/pets/{{pet._id}}" class="btn btn-light full-width">Go back</a>
        </div>

        {{#if errorMessage}}
        <div class="error col-12">{{errorMessage}}</div>
        {{/if}}

    </div>
</form>