<div class="container">

    <div class="row justify-content-center">

        <div class='col-8'>
            <ul>{{#each this.pets}}
                <li>Petname: {{name}} <form action="/pets/{{_id}}" method="GET"> 
                <button type="submit">See Details</button> </form></li>
                {{/each}}
            </ul>
        </div>
        <form class="col-4" action="/pets" method="GET">
            <div class="mb-3">
                <label for="name-input" class="form-label">Name</label>
                <input type="text" class="form-control" id="name-input" aria-describedby="name-input" name="name">
            </div>

            {{!-- Description, podemos usar match para que renderice resultados que coincidan con keywords buscadas --}}

            <div class="mb-3">
                <label for="species-input" class="form-label">Species</label>
                <input type="text" class="form-control" id="species-input" name="species">
            </div>

            {{!-- Address model¿? --}}
            <div class="mb-3">
                <label class="form-label">Address
                    <label class="form-label">Street</label>
                    <input type="text" class="form-control" id="street-input" name="street">
                    <label class="form-label">Postal</label>
                    <input type="text" class="form-control" id="postal-input" name="postal">
                    <label class="form-label">Number</label>
                    <input type="number" class="form-control" id="number-input" name="number">
                    <label class="form-label">Country</label>
                    <input type="text" class="form-control" id="country-input" name="country">
                    <label class="form-label">City</label>
                    <input type="text" class="form-control" id="city-input" name="city">
                </label>
            </div>

            <div class="mb-3">
                <label for="age-input" class="form-label">Age</label>
                <input type="text" list="tickmarks" id="age-input" name="age" > 



                {{!-- <datalist id="tickmarks">
                    <option value="0" label="0%" default></option>
                    <option value="10"></option>
                    <option value="20"></option>
                    <option value="30"></option>
                    <option value="40"></option>
                    <option value="50" label="50%"></option>
                    <option value="150"></option>
                    <option value="300"></option>
                    <option value="350"></option>
                    <option value="380"></option>
                    <option value="400" label="100%"></option>
                </datalist> --}}

            </div>

            <div class="mb-3">
                <label for="gender-input" class="form-label">Gender</label>
                <select name="gender" id="gender-input" class="form-control">
                    <option value="UNDEFINED">UNDEFINED</option>
                    <option value="MALE">MALE</option>
                    <option value="FEMALE">FEMALE</option>
                </select>
            </div>



            <button type="submit" class="btn btn-primary">Submit</button>

            {{#if errorMessage}}
            {{errorMessage}}
            {{/if}}

        </form>

    </div>
</div>