<form class="col-6 container-fluid" action="/pets/{{pet._id}}/review" method="POST">
    <div class="row g-0">

        <div class="mb-3 col-12">
            <label for="destinatary-input" class="form-label">To:</label>
            <input type="text" class="form-control" id="destinatary-input" aria-describedby="name-input" name="name"
                value="{{pet.name}}" disabled>
        </div>

        <div class="mb-3 col-12">
            <label for="body-input" class="form-label">Message</label>
            <textarea name="body" id="body-input" cols="30" rows="10" class="form-control"></textarea>
        </div>

        {{#unless hasReview}}
        <fieldset class="starability-basic col-12">
            <legend>First rating:</legend>
            <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked
                aria-label="No rating." />
            <input type="radio" id="first-rate1" name="rating" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="rating" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="rating" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="rating" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="rating" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>


        <button type="submit" class="btn btn-custom full-width col-12">Send</button>
        {{else}}
        <p>You have already left a review for this pet</p>
        {{/unless}}

        {{#if errorMessage}}
        <div class="error col-12">{{errorMessage}}</div>
        {{/if}}

    </div>
</form>