<div class="col-6">

    <div class="warning-container container-fluid">
        <div class="row g-0">

            <div class="warning">
                <p>Are you sure you want to delete your account?</p>
                <p>This action cannot be undone</p>
            </div>

            <form action="/profile/delete" method="POST">
                <button type="submit" class="btn btn-custom col-12 col-sm-6 col-md-4">Back</button>
            </form>

            <form action="/profile/delete" method="POST">
                <button type="submit" class="btn btn-warning col-12 col-sm-6 col-md-4">Delete</button>
            </form>

        </div>
    </div>

</div>