<form class="col-6 container-fluid" action="/profile/edit" method="POST">
    <div class="row g-0">
        {{#with user}}

        <div class="mb-3 col-12">
            <label for="username-input" class="form-label">Username</label>
            <input type="text" class="form-control" id="username-input" aria-describedby="username-input"
                name="username" value='{{username}}'>
        </div>

        <div class="mb-3 col-12">
            <label for="email-input" class="form-label">Email</label>
            <input type="text" class="form-control" id="email-input" name="email" value='{{email}}'>
        </div>

        <div class="mb-3 col-12">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" name="password" placeholder="•••••••••">
        </div>

        <button type="submit" class="btn btn-custom col-12">Update</button>

        {{/with}}

        {{#if errorMessage}}
        <div class="error">{{errorMessage}}</div>
        {{/if}}

    </div>
</form>