<form class="col-8" action="new-pet" method="POST">
    <div class="mb-3">
        <label for="name-input" class="form-label">Name</label>
        <input type="text" class="form-control" id="name-input" aria-describedby="name-input" name="name">
    </div>

    <div class="mb-3">
        <label for="description-input" class="form-label">Description</label>
        <textarea name="description" id="description-input" cols="30" rows="10" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label for="species-input" class="form-label">Species</label>
        <input type="text" class="form-control" id="species-input" name="species">
    </div>

    <div class="mb-3">
        <label class="form-label full-width margin-bottom-2"><span>Address</span>
            <label class="form-label">Street</label>
            <input type="text" class="form-control  addressInput" id="street-input" name="street">
            <label class="form-label">Postal</label>
            <input type="text" class="form-control addressInput" id="postal-input" name="postal">
            <label class="form-label">Number</label>
            <input type="number" class="form-control addressInput" id="number-input" name="number">
            <label class="form-label">Country</label>
            <input type="text" class="form-control addressInput" id="country-input" name="country">
            <label class="form-label">City</label>
            <input type="text" class="form-control addressInput" id="city-input" name="city">
        </label>
    </div>

    <div class="mb-3">
        <label for="age-input" class="form-label">Age</label>
        <input type="number" class="form-control" id="age-input" name="age">
    </div>

    <div class="mb-3">
        <label for="gender-input" class="form-label">Gender</label>
        <select name="gender" id="gender-input" class="form-control">
            <option value="UNDEFINED">UNDEFINED</option>
            <option value="MALE">MALE</option>
            <option value="FEMALE">FEMALE</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="profile-img-input" class="form-label">Profile image</label>
        <input type="text" class="form-control" id="profile-img-input" name="profile_img">
    </div>

    <button type="submit" class="btn btn-custom">Add</button>

    {{#if errorMessage}}
    {{errorMessage}}
    {{/if}}

</form>

<div id="petEnabledMap"></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script src="../js/scriptmap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{MAPS_KEY}}&callback=initGeocoderMap"></script>